
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Movie Details</h2>
    </div>

    <div class="alert alert-danger" *ngIf='errorMsg'>{{errorMsg}}</div>

    <div class="panel-body">
      <table class="table table-striped" *ngIf='!errorMsg'>
        <thead>
          <tr>
            <th>Movie Id</th>
            <th>Movie Name</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies">
            <td>{{movie.movie_id}}</td>
            <td>{{movie.movie_name}}</td>  
            

          </tr>
        </tbody>
      </table>
    </div>
    <button (click)="backToLogin()" class="btn btn-primary">Go back To Login</button>
  </div>