
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">


      <div class="alert alert-danger" *ngIf='errorMsg'>
        {{errorMsg}}
      </div>
      
      <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      
       
          <div class="form-group">
            <label for="id">Theatre_id</label>
            <input type="text" id="id" formControlName="id" class="form-control">
          </div>
      
        <button class="btn btn-primary" type="submit" [disabled]="!formGroup.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
