
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>City List</h2>
      
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>City Id</th>
            <th>City Name</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {{errorMsg}}
          <tr *ngFor="let city of cities" >
            
            <td>{{city.id}}</td>
            <td>{{city.Name}}</td>  
            <td> 

             <button (click)="cityDetails(city.id)" class="btn btn-info" style="margin-left: 10px">City Details</button>  
              <button (click)="theatreDetails()" class="btn btn-info" style="margin-left: 10px">All Theatre</button>  
              <button (click)="movieDetails()" class="btn btn-info" style="margin-left: 10px">All Movies</button>  
              </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>